<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
</head>
<style>

    .headerarea {
        width: 100% !important;
        background-color: lavender; 
        color: black;   
        font-size: xx-large;  
        font-weight: bold; 
        text-align: center; 
        padding: 2rem 5rem;  
    }

    .card-header {
        background-color: midnightblue;
        color: white;
        font-size: x-large;
        font-weight: bold;
    }

    .manager card card-header {
        background-color: midnightblue;
    }


    hr.newdept {
        border-top: 2px solid #999;
    }

    /* Dotted red border */
    hr.subord {
        border-top: 1px solid #bbb;
    }

    .card-body {
        background-color: #eee;
    }

    .infotable {
        width: 80%;
        background-color: white;
        border: 1px solid #ccc;
        text-align: left;
    }
</style>
<body>

    <div class="headerarea">
        <h1>Department Staff: The Dream Team</h1>
    </div>

    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card m-3 shadow-lg">
                    <div class="card-header text-left">
                        Mark Group <br>
                        <i class="fa fa-coffee"></i> Manager
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Lead of Development Group</h5>
                        <p class="card-text bg-light">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn infotable">ID: 2</button>
                                <button type="button" class="btn infotable">Email: Mark@fakemail.com</button>
                                <button type="button" class="btn infotable">Github: markfm</button>
                            </div>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr class=" newdept">

    <div class="container">
        <div class="row justify-content-around">        
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card m-3 shadow-lg">
                    <div class="card-header text-left">
                        Mark Group <br>
                        <i class="fa fa-coffee"></i> Manager
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Lead of Development Group</h5>
                        <p class="card-text bg-light">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn infotable">ID: 2</button>
                                <button type="button" class="btn infotable">Email: Mark@fakemail.com</button>
                                <button type="button" class="btn infotable">Github: markfm</button>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card m-3 shadow-lg">
                    <div class="card-header text-left">
                        Mark Group <br>
                        <i class="fa fa-coffee"></i> Manager
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Lead of Development Group</h5>
                        <p class="card-text bg-light">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn infotable">ID: 2</button>
                                <button type="button" class="btn infotable">Email: Mark@fakemail.com</button>
                                <button type="button" class="btn infotable">Github: markfm</button>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card m-3 shadow-lg">
                    <div class="card-header text-left">
                        Mark Group <br>
                        <i class="fa fa-coffee"></i> Manager
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Lead of Development Group</h5>
                        <p class="card-text bg-light">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn infotable">ID: 2</button>
                                <button type="button" class="btn infotable">Email: Mark@fakemail.com</button>
                                <button type="button" class="btn infotable">Github: markfm</button>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card m-3 shadow-lg">
                    <div class="card-header text-left">
                        Mark Group <br>
                        <i class="fa fa-coffee"></i> Manager
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Lead of Development Group</h5>
                        <p class="card-text bg-light">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn infotable">ID: 2</button>
                                <button type="button" class="btn infotable">Email: Mark@fakemail.com</button>
                                <button type="button" class="btn infotable">Github: markfm</button>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>